body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #C8D6AF;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}  
@media screen and (max-width:767px){
  .game{
    display: flex;
    flex-direction: column;
  }
  .game-board{
    height: 12rem;
    width: 12rem;
  }
  .board-row{
    height: 4rem;
    width: 12rem;
  }
  .square{
    height: 100%;
    width: 4rem;
    background-color: black;
    color: #74ee15;
}
.game-info{
    text-align: center;
}
button{
    background-color: #74ee15;
}
}
@media screen and (min-width:767px) {
  .game-board{
    height: 60vh;
    width: 60vh;
  }
  .board-row{
    height: 20vh;
    width: 60vh;
  }
  .square{
    height: 100%;
    width: 20vh;
    font-size: 8vh;
    background-color: black;
    color: #74ee15;
}
.game-info{
    text-align: center;
}
button{
    background-color: #74ee15;
    padding: 0.4rem;
    border-radius: 0.2rem;
}
}